var server_response = <%= @response %>;
if(parseInt(server_response)===5){
	alert("You have already contacted 5 clinics.");
}
else{
	$('li.request_button').html("<a href='#'><span class='request_button_old'>Contact Request Sent</span></a>");	
	if(parseInt(server_response)===3){
		alert("You have " + (4 - parseInt(server_response)) + " clinic left to contact.");
	}
	else{
		alert("You have " + (4-parseInt(server_response)) + " clinics left to contact.");
	}
}