<h1>About Us</h1>
<p>IVF Reports, an Althea creation, was developed in 2009 by a group of fertility researchers, embryologists and social science experts. The website was founded for the purpose of providing better and fair information to fertility patients based on public information available, while simultaneously providing clinicians an unbiased, accurate evaluation of their performance. </p>
