<h1 style="text-align:center;">Find a Clinic In Your Area</h1>

<div id="map_canvas" class="google_map_canvas"></div>


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBr81CBromVSoshojwDkMb7jEn2EtNkJ3g&sensor=true">
</script>

<script type="text/javascript">
	var map;
  	function initializeMap() {
		var latlng = new google.maps.LatLng(37.769,-97.211);
    	var myOptions = {
      		zoom: 3,
      		center: latlng,
      		mapTypeId: google.maps.MapTypeId.ROADMAP
    	};
     	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  	}

	function plotClinics(clinic_data){
		$.each(clinic_data, function(k){
			
			//Create all content needed for the clinic infobox
			var contentString = '<div id="content">'+
			    '<h2><a href="/clinics/'+clinic_data[k].permalink+'" >'+ clinic_data[k].clinic_name +'</a></h2>'+
			    '<div class="gmap_score_section">'+
				'<ul class="gmap">'+
				'<li>IVF Reports Score: ' + '<span class="score">' + Math.round((clinic_data[k].ivf_reports_score)*100)/100 + '</span></li>'+
				'<li>Quality Score: ' + '<span class="score">' + Math.round((clinic_data[k].quality_score)*100)/100 + '</span></li>'+
				'<li>Safety Score: ' + '<span class="score">' + Math.round((clinic_data[k].safety_score)*100)/100 + '</span></li>'+
				'<li>SART Score: ' + '<span class="score">' + Math.round((clinic_data[k].sart_score)*100)/100 + '</span></li>'+
				'</ul>' + 
				'</div>'+
				'<div id="bodyContent">'+
			    '<p>'+ clinic_data[k].info +'</p>'+
			    '</div>'+
			    '</div>';

			//initialize the infobox for the clinic
			var infowindow = new google.maps.InfoWindow({
			    content: contentString
			});
			
			//plot the clinic marker
			if(clinic_data[k].ivf_reports_score >= 90){
				var icon_image = new google.maps.MarkerImage('http://labs.google.com/ridefinder/images/mm_20_green.png');
			}
			else if(clinic_data[k].ivf_reports_score >= 80 && clinic_data[k].ivf_reports_score < 90){
				var icon_image = new google.maps.MarkerImage('http://labs.google.com/ridefinder/images/mm_20_blue.png');
			}
			else if(clinic_data[k].ivf_reports_score >= 70 && clinic_data[k].ivf_reports_score < 80){
				var icon_image = new google.maps.MarkerImage('http://labs.google.com/ridefinder/images/mm_20_yellow.png');				
			}
			else{
				var icon_image = new google.maps.MarkerImage('http://labs.google.com/ridefinder/images/mm_20_gray.png');
			}
			var myLatLng = new google.maps.LatLng(clinic_data[k].latitude, clinic_data[k].longitude);
			var clinicMarker = new google.maps.Marker({
		      	position: myLatLng,
		      	map: map,
				title: clinic_data[k].clinic_name,
		      	icon: icon_image
			});
			
			//assign the infobox to the clinic marker upon a click event
			google.maps.event.addListener(clinicMarker, 'click', function() {
			  infowindow.open(map,clinicMarker);
			});
		});
	}

	$(document).ready(function(){
		initializeMap();
		$.ajax({
			url: "<%= url_for(:action => 'clinicfind') %>",
			dataType: 'json',
			async: true,
			cache: false,
			success: 	function(data){
							plotClinics(data);
						}
		});
	});

</script>


