<h1>The CDC vs SART</h1>

<p>Two main institutions collect and maintain databases of information from IVF Clinics throughout the country: the Society for American Reproductive Technology (SART) and the Center for Disease Control (CDC).</p>

<p>While there are a multitude of statistics collected by these agencies, CDC does not release relevant information regarding implantation rates and the number of embryos transferred. For this reason, data obtained from SART is used in our ranking system.</p>

<p>All IVF Clinics in the United States and US territories are required to submit reports to the CDC, however, since SART is a private institution, submission of data to SART is not mandatory. For this reason, there are nearly 50 clinics throughout the United States that do not provide information to SART and are unranked in our system. We encourage these clinics to provide SART-related data to us, so they can be listed on our website.</p>