<% require "feedzirra" %>

<h1>Fertility News</h1>



<div id="parsedcontent">

<% feed = Feedzirra::Feed.fetch_and_parse("http://www.medicalnewstoday.com/rss/fertility.xml") %>

</div>



<script type="text/javascript">

		$(theXML).find('item').each(function() {
			var link = $(this).find('guid').text();
			var title = $(this).find('title').text();
			var date = $(this).find('pubDate').text();
			var desc = $(this).find('description').text();
			$('#parsedcontent').append('<hr><h3><a style="text-decoration:none;color:#7895a3;" href="' + link + '" target="_blank">' + title + '</a></h3>');
			$('#parsedcontent').append('<b>' + date + '</b><br/>');
			$('#parsedcontent').append('<p>' + desc + '</p>');
		});
		
</script>