<div class="call_to_action_page">
<h1>Welcome to IVF Reports.</h1>
<div class="call_to_action round">
<h2 class="top-round">For Patients</h2>
	<ul>
		<li>Personalized Clinic Recommendations.</li>
		<li>Maximize Your Chance at Pregnancy.</li>
		<li>Utilize Our <i>Clinic Contact System.</i></li>
		<li>Meet Couples with Shared Experiences.</li>
	</ul>
	<span class="register_now round">
		<%= link_to "Register Now", register_path, :class => 'round' %>
	</span>
</div>
<div class="call_to_action round">
<h2 class="top-round">For Clinicians</h2>
	<ul>
		<li>Manage your Clinic's Profile.</li>
		<li>Meet New Patients.</li>
		<li>Become More Visible Online.</li>
		<li>Advanced Statistics and Reporting.</li>				
	</ul>
	<span class="register_now round">
		<%= link_to "Register Now", clinicians_path, :class => 'round' %>
	</span>
</div>
</div>