.call_to_action_page
 %h1 Welcome to IVF Reports
 .call_to_action.round
  %h2.top-round For Patients
  %ul
   %li Personalized Clinic Recommendations.
   %li Maximize Your Chance at Pregnancy
   %li
    %span Utilize Our
    %i Clinic Contact System
   %li Meet Couples with Shared Experiences
  %span.register_now.round
   = link_to "Register Now", register_path, :class => 'round'
 .call_to_action.round
  %h2.top-round For Clinicians
  %ul
   %li Manage your Clinic's Profile
   %li Meet New Patients
   %li Become More Visible Online
   %li Advanced Statistics and Reporting           
  %span.register_now.round
   = link_to "Register Now", clinicians_path, :class => 'round'
       

