<div id="us_region_map" class="region_map">
	<h1>Select a Region</h1>
	<div id="ESC" class="map_region"></div>
	<div id="WSC" class="map_region"></div>						
	<div id="MT" class="map_region"></div>
	<div id="SP" class="map_region"></div>
	<div id="NE" class="map_region"></div>
	<div id="SA" class="map_region"></div>
	<div id="OTH" class="map_region"></div>
	<div id="WNC" class="map_region"></div>
	<div id="ENC" class="map_region"></div>
	<div id="MA" class="map_region"></div>
	<div id="NP" class="map_region"></div>
</div>